---
import { Icon } from "astro-iconify";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatTitle } from "../../consts";
import { getCollection, type CollectionEntry } from "astro:content";
import PostList from "../../components/PostList.astro";

type Post = CollectionEntry<'blog'>;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const postByYear: {
  [year: number]: Post[];
} = {}

posts.forEach((post) => {
  const year = post.data.pubDate.getFullYear()
  if (!postByYear[year]) {
    postByYear[year] = []
  }
  postByYear[year].push(post)
})
---

<BaseLayout title={formatTitle("Posts")} description="Browse all blog posts">
  <div class="w-full max-w-screen-md mx-auto my-4 px-4 flex flex-col gap-4 justify-center">
    <div class="flex flex-col">
      <h1 class="text-5xl mb-2 font-bold">Posts</h1>
      <div class="flex gap-4 text-sm text-gray-600 dark:text-neutral-400">
        <a href="/tags" class="hover:underline flex items-center gap-1">
          <Icon name="mdi:tag-multiple" class="w-4 h-4"/>
          Browse Tags
        </a>
        <span>|</span>
        <a href="/rss.xml" class="hover:underline flex items-center gap-1">
          <Icon name="material-symbols:rss-feed-rounded" class="w-4 h-4"/>
          RSS Feed
        </a>
      </div>
    </div>
      {
        Object.keys(postByYear).sort(
          (a, b) => parseInt(b) - parseInt(a)
        ).map((year) => (
          <div class="flex flex-col">
            <h2 class="text-2xl text-black dark:text-white font-bold mb-8 mt-8">{year}</h2>
            <PostList posts={postByYear[parseInt(year)]} />
          </div>
        ))
      }
  </div>
</BaseLayout>
