html {
    font-family: 'Reddit Mono', monospace;
    width: 100%;
    transition: color 300ms, background-color 300ms;
}

html * {
    transition: color 300ms, background-color 300ms, border-color 300ms, fill 300ms;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    @apply rounded-lg;
    max-width: 100%;
    height: auto;
}