---
import { Icon } from 'astro-iconify'

import {
  Astronav,
  MenuItems,
  MenuIcon,
} from "astro-navbar";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="md:flex py-4 pt-4 px-4 md:pt-10 gap-5 mb-10 md:mb-28 w-full">
  <Astronav>
    <div class="flex w-full justify-between items-end border-b md:border-none pb-4 md:pb-0">
      <a class="font-semibold text-xl flex gap-2 items-center group" href="/"><Icon name="codicon:terminal" class="w-5 h-5" />0f01c1.com</a>
      <div class="md:hidden flex items-center justify-center gap-4">
        <MenuIcon class="w-4 h-4 text-gray-800 dark:text-neutral-300" />
		    <ThemeIcon class="w-10" />
      </div>
    </div>
    <MenuItems class="hidden md:flex">
      <ul class="flex flex-col md:flex-row md:gap-5 gap-3 mt-3 md:mt-0  pb-4 md:pb-0 border-b border-neutral-400 md:border-b-0">
        <li class="flex items-center"><a href="/">Home</a></li>
        <li class="flex items-center"><a href="/about">About</a></li>
        <li class="flex items-center"><a href="/blog">Blog</a></li>
		    <ThemeIcon class="w-10 hidden md:flex" />
      </ul>
    </MenuItems>
  </Astronav>
</header>