---
import { getCollection } from "astro:content";
import PostList from "./PostList.astro";

const posts = await getCollection("blog");
let numberOfPostsToDisplay = 3;
let recentPosts = posts.slice(0, numberOfPostsToDisplay);
---

<div class="px-4 flex flex-col gap-4 mt-16">
  <h3 class="text-2xl mb-2 font-bold">Recent Posts</h3>
  <PostList posts={recentPosts} />
  <a
    class="border flex justify-center items-center hover:no-underline hover:bg-gray-200 hover:border-gray-300 bg-gray-100 w-full max-w-xs mx-auto mt-12 rounded-lg text-gray-700 text-xs h-8 font-medium border-gray-200 dark:bg-neutral-700 dark:border-neutral-600 dark:text-neutral-300 hover:dark:bg-neutral-700/50 hover:dark:border-neutral-600 hover:dark:text-neutral-100"
    href="/blog">View more</a
  >
</div>
